{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/childDashboard.css">
{% endblock %}

{% block title %}
	<title>{{title}}</title>
{% endblock %}

{% block main %}
	<main>
		<section>
			<h1>Dashboard de
				{{ child.firstname }}</h1>

			<div class="child-info">
				<p>Points actuels :
					{{ child.points }}</p>
				<p>Points de comportement :
					{{ child.comportement }}</p>
			</div>

			<div class="catalog-buttons">
				<a href="/questCatalog/{{ child._id }}" class="btn">Catalogue des Quêtes</a>
				<a href="/rewardCatalog/{{ child._id }}" class="btn">Catalogue des Récompenses</a>
			</div>

			<div class="back-button">
				<a href="/chooseProfile" class="btn">Retour à la sélection de profil</a>
			</div>

		</section>
	</main>
{% endblock %}
