{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/chooseProfile.css">
{% endblock %}

{% block title %}
	<title>{{title}}</title>
{% endblock %}

{% block main %}
	<main>
		<section>
			<h1>Choisir un Profil</h1>

			<h2>Nom de l'équipe:
				{{guide.teamName}}</h2>

			<div class="guide-container">
				<h3>Guide des quêtes</h3>
				<p class="guide-name">{{ guide.name }}</p>

				<form action="/selectGuideProfile" method="POST">
					<div>
						<label for="password">Mot de passe :</label>
						<input type="password" id="password" name="password" required>
					</div>

					{% if error %}
						<div class="error-message">
							{{ error }}
						</div>
					{% endif %}

					<button type="submit">Accéder au tableau de bord du guide</button>
				</form>
			</div>

			<h3>Enfants</h3>
			<ul class="children-list">
				{% for child in guide.childrenCollection %}
					<li class="child-item">
						<a href="/selectProfile?role=child&childId={{ child._id }}">{{ child.firstname }}</a>
					</li>
				{% else %}
					<li class="child-item">Aucun enfant disponible.</li>
				{% endfor %}
			</ul>
		</section>
	</main>
{% endblock %}
