{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/editReward.css">
{% endblock %}

{% block title %}
	<title>{{ title }}</title>
{% endblock %}

{% block main %}
	<main>
		<section class="form-container">
			<h1>Modifier les Récompenses de
				{{ child.firstname }}</h1>

			<ul>
				{% for reward in child.rewards %}
					{% if not reward.purchased %}
						<li>
							<h3>Récompense :
								{{ reward.rewardName }}</h3>

							<form action="/updateReward/{{ child._id }}/{{ reward._id }}" method="POST">
								<div>
									<label for="rewardName_{{ reward._id }}">Nom de la récompense :</label>
									<input type="text" id="rewardName_{{ reward._id }}" name="rewardName" value="{{ reward.rewardName }}" required>
								</div>

								<div>
									<label for="rewardDescription_{{ reward._id }}">Description :</label>
									<textarea id="rewardDescription_{{ reward._id }}" name="rewardDescription" required>{{ reward.rewardDescription }}</textarea>
								</div>

								<div>
									<label for="rewardCost_{{ reward._id }}">Points :</label>
									<input type="number" id="rewardCost_{{ reward._id }}" name="rewardCost" value="{{ reward.rewardCost }}" required>
								</div>

								<button type="submit" class="modif-btn">Modifier la Récompense</button>
							</form>

							<form action="/deleteReward/{{ child._id }}/{{ reward._id }}" method="POST">
								<button type="submit" class="delete-btn">Supprimer la Récompense</button>
							</form>
						</li>
					{% else %}
						<li>
							<h3>Récompense :
								{{ reward.rewardName }}
								-
								{{ reward.rewardCost }}
								Points (Achetée)</h3>
						</li>
					{% endif %}
				{% else %}
					<p>Aucune récompense disponible.</p>
				{% endfor %}
			</ul>

			<div class="back-button">
				<a href="/guideDashboard" class="btn">Retour au dashboard du guide</a>
			</div>
		</section>
	</main>
{% endblock %}
