{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/editQuest.css">
{% endblock %}

{% block title %}
	<title>{{title}}</title>
{% endblock %}

{% block main %}
	<main>
		<section class="form-container">
			<h1>Modifier les quêtes de
				{{ child.firstname }}</h1>

			<ul>
				{% for quest in child.quests %}
					{% if not quest.completed %}
						<li>
							<h3>Quête :
								{{ quest.questName }}</h3>

							<form action="/updateQuest/{{ child._id }}/{{ quest._id }}" method="POST">
								<div>
									<label for="questName_{{ quest._id }}">Nom de la quête :</label>
									<input type="text" id="questName_{{ quest._id }}" name="questName" value="{{ quest.questName }}" required>
								</div>
								<div>
									<label for="questDescription_{{ quest._id }}">Description :</label>
									<textarea id="questDescription_{{ quest._id }}" name="questDescription" required>{{ quest.questDescription }}</textarea>
								</div>
								<div>
									<label for="questPoints_{{ quest._id }}">Points :</label>
									<input type="number" id="questPoints_{{ quest._id }}" name="questPoints" value="{{ quest.questPoints }}" required>

									{% if quest._id == errorQuestId %}
										<div class="error-message">
											{{ errorMessage }}
										</div>
									{% endif %}
								</div>

								<button class="modif-btn" type="submit">Modifier la Quête</button>
							</form>

							<form action="/deleteQuest/{{ child._id }}/{{ quest._id }}" method="POST">
								<button type="submit" class="delete-btn">Supprimer la Quête</button>
							</form>
						</li>
					{% else %}
						<li>
							<h3>Quête :
								{{ quest.questName }}
								-
								{{ quest.questPoints }}
								Points (Complétée)</h3>
						</li>
					{% endif %}
				{% else %}
					<p>Aucune quête disponible.</p>
				{% endfor %}
			</ul>

			<div class="back-button">
				<a href="/guideDashboard" class="btn">Retour au dashboard du guide</a>
			</div>
		</section>
	</main>
{% endblock %}
