{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/editChild.css">
{% endblock %}

{% block title %}
	<title>{{ title }}</title>
{% endblock %}

{% block main %}
	<main>
		<section class="form-container">
			<h1>Modifier les informations de
				{{ child.firstname }}</h1>

			<form action="/editChild/{{ child._id }}" method="POST">
				<label for="firstname">Prénom</label>
				<input type="text" name="firstname" id="firstname" value="{{ child.firstname }}" required>
				<label for="points">Points</label>
				<input type="number" name="points" id="points" value="{{ child.points }}" required>

				<button class="modif-btn" type="submit">Modifier</button>
			</form>

			<form action="/deleteChild/{{ child._id }}" method="POST">
				<button type="submit" class="delete-btn">Supprimer cet enfant</button>
			</form>

			<div class="back-button">
				<a href="/guideDashboard" class="btn">Retour au dashboard du guide</a>
			</div>
		</section>
	</main>
{% endblock %}
