{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/questCatalog.css">
{% endblock %}

{% block title %}
	<title>{{title}}</title>
{% endblock %}

{% block main %}
	<main>
		<section>
			<h1>Catalogue des Quêtes pour
				{{ child.firstname }}</h1>

			{% set hasIncompleteQuests = false %}

			<ul class="quest-list">
				{% for quest in quests %}
					{% if not quest.completed %}
						<li class="quest-item">
							<article>
								<h2>{{ quest.questName }}
									-
									{{ quest.questPoints }}
									points</h3>
								<p class="quest-description">{{ quest.questDescription }}</p>
							</article>
						</li>
						{% set hasIncompleteQuests = true %}
					{% endif %}
				{% endfor %}

				{% if not hasIncompleteQuests %}
					<li class="quest-item">
						<article>
							<p class="quest-description">Aucune quête disponible pour l'instant.</p>
						</article>
					</li>
				{% endif %}
			</ul>

			<div class="back-button">
				<a href="/childDashboard/{{ child._id }}" class="btn">Retour au tableau de bord</a>
			</div>
		</section>
	</main>
{% endblock %}
