{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/rewardCatalog.css">
{% endblock %}

{% block title %}
	<title>{{title}}</title>
{% endblock %}

{% block main %}
	<main>
		<section>
			<h1>Catalogue des Récompenses</h1>

			<ul class="reward-list">
				{% set hasAvailableRewards = false %}

				{% for reward in rewards %}
					{% if not reward.purchased %}
						<li class="reward-item">
							<article>
								<h2>{{ reward.rewardName }}
									-
									{{ reward.rewardCost }}
									points</h3>
								<p class="reward-description">{{ reward.rewardDescription }}</p>
							</article>
						</li>
						{% set hasAvailableRewards = true %}
					{% endif %}
				{% endfor %}

				{% if not hasAvailableRewards %}
					<li class="reward-item">
						<article>
							<p class="reward-description">Aucune récompense disponible pour l'instant.</p>
						</article>
					</li>
				{% endif %}
			</ul>

			<div class="back-button">
				<a href="/childDashboard/{{ child._id }}" class="btn">Retour au tableau de bord</a>
			</div>
		</section>
	</main>
{% endblock %}
